{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 2em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    {% if app.user %}
        <div class="example-wrapper">
            <h1>Vous êtes connecté en tant que {{ app.user.email }} ! ✅​<a href="{{ logout_path() }}"></h1>Se déconnecter❌</a>
        </div>
    {% else %}
        <div class="example-wrapper">
            <a href="{{ path('app_login') }}">Se connecter✅</a>
        </div>
    {% endif %} 
    

<div class="example-wrapper">
    {# <h1>Hello {{ app.user.email }}! ✅</h1> {{ controller_name }} #}

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/CDA/Desktop/CDA/symfony/loulouLeBoss/src/Controller/HomepageController.php</code></li>
        <li>Your template at <code>C:/Users/CDA/Desktop/CDA/symfony/loulouLeBoss/templates/homepage/index.html.twig</code></li>
        {# <button><a href="{{ logout_path() }}">Se déconnecter</a></button> #}
    </ul>
</div>
{% endblock %}
